.App {
  text-align: center;
  width: 350px;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 33, 52) !important;
  background: rgb(25, 33, 52);
  background: linear-gradient(
    180deg,
    #192134 20%,
    #070815 75%
  );
  color: white;

}

.frontPageLogo {
  width: 80%;
}

.frontPageButton {
  width: 90%;
  margin-top: 20px;
  

}

.frontPageButton:hover {
  background-color: #ffffff ;
  
}

.headerItem {
  padding: 8px;
 
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: #222a3a;
  color: white;

}

.eth{
  width: 20px;
  height: 20px;
  padding-right: 10px;

}

.frontPageBottom {
  color: white;
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 5px;
}

.tokenLogo {
  height: 40px;
  width: 40px;
}


.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.ant-modal {
  position: absolute;
  top: 64px;
  left: 34px;
  background-color: white;
  border: 1px solid #363e54;
  width: 270px !important;
  height: 200px;
  border-radius: 10px;
  
  
}

.ant-modal-header {
  background-color: #ffffff !important;
  color: #070815;
}

.ant-modal-title {
  color: #070815 !important;
  padding-top: 5px !important;
  margin-left: 5px !important;
}

.ant-modal-close-icon {
  color: #363e54 !important;
  transition: 0.3s;
}

.ant-modal-close-icon:hover {
  color: black !important;
}

.frontPageBottom:hover {
  cursor: pointer;
  color: #21273a;
}

h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.h4 {
  padding-bottom: 50px;
}



header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.headerLogo {
  height: 50px;
  margin-left: 20px;
}

.dropdown {
  margin-right: 20px;
}

.content {
  text-align: center;
  width: 350px;
  height: 520px;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mnemonic {
  color: #faad14;
  background: #fffbe6;
  border: 1px solid #ffe58f;
  padding: 5px;
  text-align: justify;
  width: 310px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.seedPhraseContainer {
  width: 310px;
  min-height: 160px;
  padding: 5px;
  margin-top: 30px;
}

.walletName {
  font-weight: bold;
  margin-bottom: 5px;
}

.logoutButton {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 20px;
  top: 5px;
  border-radius: 100px;
}

.logoutButton:hover {
  cursor: pointer;
}

.walletView {
  width: 350px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.sendRow {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.nftImage {
  margin-bottom: 10px;
  height: 240px;
  width: 240px;
  object-fit: cover;
  border-radius: 10px;
}
